@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  transition: 0.3s all;
}

a {
  text-decoration: none;
  color: #424242;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  width: 100%;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 4rem;
}

.btn {
  padding: 0.8rem 1rem;
  background: #FF900E;
  color: #FFFFFF;
  border: 0;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.title-text {
  color: #131313;
  font-size: 2.8125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dsc-text {
  color: #727272;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
}

.header {
  background: rgba(255, 144, 14, 0.1);
}
.header .container {
  padding: 2rem 4rem 2.83rem;
}
.header .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container nav .nav-logo a {
  color: #131313;
  font-size: 2.8125rem;
  font-weight: 700;
}
.header .container nav .navbar-content .nav-ul {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
}
.header .container nav .navbar-content .nav-ul .nav-li .nav-link {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625rem;
}
.header .container .header-content .header-text {
  max-width: 53.875rem;
  margin: 0 auto;
  text-align: center;
}
.header .container .header-content .header-text .header-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  margin: 3rem 0 1rem;
}
.header .container .header-content .header-text .dsc-text {
  margin-bottom: 2rem;
}
.header .container .header-content .header-text .btn {
  margin-bottom: 2rem;
}
.header .container .header-content .img {
  width: 100%;
  height: 100%;
}

.feature .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.feature .container .feature-img {
  flex: 1 0 calc(50% - 1rem);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.feature .container .feature-text {
  flex: 1 0 calc(50% - 1rem);
}
.feature .container .feature-text .title-text {
  font-size: 2.8125rem;
  font-weight: 500;
}
.feature .container .feature-text .title-text .dark {
  color: #727272;
}
.feature .container .feature-text .title-text .orange {
  color: #FF900E;
}
.feature .container .feature-text .dsc-text {
  text-align: left;
  margin: 1.5rem 0 2rem;
}

.extra-fetrues .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
.extra-fetrues .container .extra-features-content {
  flex: 1 0 calc(50% - 1rem);
  padding-right: 3.5rem;
}
.extra-fetrues .container .extra-features-content .title-text {
  margin: 0 0 1rem 0;
  position: relative;
}
.extra-fetrues .container .extra-features-content .title-text::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0;
  bottom: 0;
  background: #FF900E;
  width: 0.3125rem;
  height: 100%;
}
.extra-fetrues .container .extra-features-content .dsc-text {
  text-align: left;
  margin: 1rem 0 1rem;
}
.extra-fetrues .container .extra-features-content .features-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}
.extra-fetrues .container .extra-features-content .features-container .features {
  padding: 1.88rem;
  border-radius: 0.5rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.extra-fetrues .container .extra-features-content .features-container .features .f-title {
  font-size: 1.25rem;
  font-weight: 600;
}
.extra-fetrues .container .extra-features-content .features-container .features .f-dsc {
  font-size: 1rem;
  font-weight: 400;
  color: #727272;
  margin-top: 0.12rem;
}
.extra-fetrues .container .extra-features-img {
  flex: 1 0 calc(50% - 1rem);
  position: relative;
  margin-bottom: 3.5rem;
}
.extra-fetrues .container .extra-features-img .exp {
  position: absolute;
  left: -3.5rem;
  bottom: -3.5rem;
  background: #FF900E;
  padding: 1rem 1.3rem;
  border-radius: 0.5rem;
}
.extra-fetrues .container .extra-features-img .exp .exp-title {
  text-align: center;
  font-size: 4.0625rem;
  font-weight: 700;
  color: #FFFFFF;
}
.extra-fetrues .container .extra-features-img .exp .exp-title span {
  font-size: 2rem;
  display: block;
}

.facts .container .fact-title {
  max-width: 33.875rem;
}
.facts .container .fact-title .title-text {
  text-align: left;
  margin-bottom: 1.5rem;
}
.facts .container .fact-title .dsc-text {
  text-align: left;
}
.facts .container .facts-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2.5rem;
}
.facts .container .facts-container .fact {
  flex: 0 0 calc(25% - 1rem);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.facts .container .facts-container .fact .fact-content {
  width: 15rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px solid #FF900E;
  padding: 2rem;
}
.facts .container .facts-container .fact .fact-content .fact-title {
  color: #424242;
  font-size: 2.8125rem;
  font-weight: 600;
}
.facts .container .facts-container .fact .fact-content .fact-dsc {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}

.sponsors .container .sponsors-title {
  max-width: 33.875rem;
  margin: 0 auto;
}
.sponsors .container .sponsors-title .title-text {
  text-align: center;
  margin-bottom: 1.5rem;
}
.sponsors .container .sponsors-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2.5rem;
}
.sponsors .container .sponsors-container .sponsors {
  flex: 0 0 calc(20% - 1rem);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

footer .container .content {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #FFF4E7;
}
footer .container .content p {
  color: #131313;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .header .container nav {
    flex-direction: column;
    gap: 1rem;
  }
  .header .container nav .nav-logo a {
    font-size: 2rem;
  }
  .header .container .header-content .header-text .header-title {
    font-size: 3rem;
    margin: 3rem 0 1rem;
  }
  .feature .container .feature-img {
    flex: 1 0 100%;
  }
  .feature .container .feature-text {
    flex: 1 0 100%;
  }
  .extra-fetrues .container .extra-features-content {
    flex: 1 0 100%;
    padding-right: 0;
  }
  .extra-fetrues .container .extra-features-content .title-text {
    margin: 0 0 0 1rem;
  }
  .extra-fetrues .container .extra-features-img {
    flex: 1 0 100%;
    padding-left: 3.5rem;
  }
  .extra-fetrues .container .extra-features-img .exp {
    left: 0;
  }
  .extra-fetrues .container .extra-features-img .exp .exp-title {
    font-size: 3rem;
  }
  .sponsors .container .sponsors-container .sponsors {
    flex: 0 0 calc(40% - 1rem);
  }
}
@media screen and (max-width: 576px) {
  .container {
    padding: 2rem;
  }
  .header .container {
    padding: 2rem;
  }
  .header .container .header-content .header-text .header-title {
    font-size: 2rem;
    margin: 3rem 0 1rem;
  }
  .feature .container .feature-img {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature .container .feature-text .title-text {
    font-size: 1.8rem;
    font-weight: 500;
  }
  .extra-fetrues .container .extra-features-content .title-text {
    font-size: 2rem;
  }
  .extra-fetrues .container .extra-features-img {
    flex: 1 0 100%;
    padding-left: 3.5rem;
  }
  .extra-fetrues .container .extra-features-img .exp {
    left: 0;
  }
  .extra-fetrues .container .extra-features-img .exp .exp-title {
    font-size: 2rem;
  }
  .extra-fetrues .container .extra-features-img .exp .exp-title span {
    font-size: 1rem;
  }
  footer .container .content p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */